[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
datasets = "*"
psycopg2-binary = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.3"
